 <!-- cart.component.html -->
<div class="cart-container">
  <h2>Cart</h2>
  <p>Total Amount: {{ totalAmount }}</p>
  <ul>
    <li *ngFor="let item of cartItems; let i = index" class="cart-item">
      <span class="item-name">{{ item.name }}</span> - <span class="item-price">{{ item.price }}</span>
      <button (click)="removeFromCart(i)" class="remove-button">Remove</button>
      <button (click)="purchaseItem(i)" class="purchase-button" >Purchase</button>
    </li>
  </ul>
</div>